{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block page_title 'Shibboleth' %}

{% block toolbar %}
    {% if collector.tokenClass %}
        {% set is_authenticated = collector.enabled and collector.authenticated %}
        {% set is_source_authenticated = collector.enabled and collector.sourceAuthenticated %}
        {% set color_code = is_authenticated ? '' : 'yellow' %}
    {% else %}
        {% set color_code = collector.enabled ? 'red' : '' %}
    {% endif %}

    {% set icon %}
        <span class="icon"><img src="data:image/png;base64,{{ collector.image }}" alt="Shibboleth" style="height: 20px; filter: grayscale(100%); -webkit-filter: grayscale(100%);"/></span>
        <span class="sf-toolbar-value">{{ collector.user|default('n/a') }}</span>
    {% endset %}

    {% set text %}
        {% if collector.tokenClass %}
            <div class="sf-toolbar-info-piece">
                <b>Logged in as</b>
                <span>{{ collector.user }}</span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Authenticated</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ is_authenticated ? 'green' : 'red' }}">{{ is_authenticated ? 'Yes' : 'No' }}</span>
            </div>

            {% if collector.displayName is not empty and collector.displayName != collector.user %}
                <div class="sf-toolbar-info-piece">
                    <b>Name</b>
                    <span>{{ collector.displayName }}</span>
                </div>
            {% endif %}

            {% if collector.affiliation is not empty %}
                <div class="sf-toolbar-info-piece">
                    <b>Affiliation</b>
                    <span>{{ collector.affiliation|join(', ') }}</span>
                </div>
            {% endif %}

            {% if collector.tokenClass != null %}
                <div class="sf-toolbar-info-piece">
                    <b>Token class</b>
                    <span>{{ collector.tokenClass|abbr_class }}</span>
                </div>
            {% endif %}

            {% if collector.sourceUser is not empty %}
                <hr/>

                <div class="sf-toolbar-info-piece">
                    <b>Sourced as</b>
                    <span>{{ collector.sourceUser }}</span>
                </div>

                <div class="sf-toolbar-info-piece">
                    <b>Authenticated</b>
                    <span class="sf-toolbar-status sf-toolbar-status-{{ is_source_authenticated ? 'green' : 'red' }}">{{ is_source_authenticated ? 'Yes' : 'No' }}</span>
                </div>

                {% if collector.sourceDisplayName is not empty and collector.sourceDisplayName != collector.sourceUser %}
                    <div class="sf-toolbar-info-piece">
                        <b>Name</b>
                        <span>{{ collector.sourceDisplayName }}</span>
                    </div>
                {% endif %}

                {% if collector.sourceAffiliation is not empty %}
                    <div class="sf-toolbar-info-piece">
                        <b>Affiliation</b>
                        <span>{{ collector.sourceAffiliation|join(', ') }}</span>
                    </div>
                {% endif %}

                {% if collector.sourceTokenClass != null %}
                    <div class="sf-toolbar-info-piece">
                        <b>Token class</b>
                        <span>{{ collector.sourceTokenClass|abbr_class }}</span>
                    </div>
                {% endif %}

            {% endif %}

            <div class="sf-toolbar-info-piece">
                <b>Actions</b>
                {% if collector.shibboleth.reachable %}
                    <span><a href="{{ collector.shibboleth.statusUrl }}">Status</a></span>
                    <br/><span><a href="{{ collector.shibboleth.logoutUrl }}">Logout</a></span>
                    <br/><span><a href="{{ collector.shibboleth.overviewUrl }}">Overview</a></span>
                {% else %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.shibboleth.handlerPath }} not reachable</span>
                {% endif %}
            </div>
        {% elseif collector.enabled %}
            <div class="sf-toolbar-info-piece">
                <b>Authenticated</b>
                <span class="sf-toolbar-status sf-toolbar-status-red">No</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Actions</b>
                {% if collector.shibboleth.reachable %}
                    <span><a href="{{ collector.shibboleth.statusUrl }}">Status</a></span>
                    <br/><span><a href="{{ collector.shibboleth.loginUrl }}">Login</a></span>
                    <br/><span><a href="{{ collector.shibboleth.overviewUrl }}">Overview</a></span>
                {% else %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.shibboleth.handlerPath }} not reachable</span>
                {% endif %}
            </div>
        {% else %}
            <div class="sf-toolbar-info-piece">
                <span>The security is disabled.</span>
            </div>
        {% endif %}
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: color_code }) }}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.enabled or not collector.tokenClass ? 'disabled' }}">
        <span class="icon"><img src="data:image/png;base64,{{ collector.image }}" alt="Shibboleth" style="width: 26px; filter: grayscale(100%); -webkit-filter: grayscale(100%);"/></span>
        <strong>Shibboleth</strong>
    </span>
{% endblock %}

{% block panel %}
    {% if collector.shibboleth.attributes is not empty %}
        <h2>Shibboleth</h2>
        {% if collector.tokenClass or collector.enabled %}
            {% include 'KuleuvenAuthenticationBundle:embeds:attributes_table.html.twig' with {shibboleth: collector.shibboleth} only %}
        {% else %}
            <div class="sf-toolbar-info-piece">
                <span>The security is disabled.</span>
            </div>
        {% endif %}
    {% endif %}
    {% if collector.shibboleth is not empty %}
        <h2>Service Provider Settings</h2>
        {% include 'KuleuvenAuthenticationBundle:embeds:shibboleth_table.html.twig' with {shibboleth: collector.shibboleth} only %}
    {% endif %}
{% endblock %}
