{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block page_title 'Shibboleth' %}

{% block toolbar %}
    {% if not collector.authenticated %}
        {% set color_code = 'red' %}
    {% elseif not collector.enabled %}
        {% set color_code = 'yellow' %}
    {% else %}
        {% set color_code = '' %}
    {% endif %}

    {% set icon %}
        <span class="icon"><img src="data:image/png;base64,{{ collector.image }}" alt="Shibboleth" style="height: 20px; filter: grayscale(100%); -webkit-filter: grayscale(100%);"/></span>
        <span class="sf-toolbar-value">{{ collector.user|default('n/a') }}</span>
    {% endset %}

    {% set text %}
        {% if not collector.enabled %}
            <div class="sf-toolbar-info-piece">
                <span>Shibboleth firewall is not enabled.</span>
            </div>
        {% elseif not collector.authenticated %}
            <div class="sf-toolbar-info-piece">
                <b>Authenticated</b>
                <span class="sf-toolbar-status sf-toolbar-status-red">No</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Actions</b>
                {% if collector.shibboleth.reachable %}
                    <span><a href="{{ collector.shibboleth.statusUrl }}">Status</a></span>
                    <br/><span><a href="{{ collector.shibboleth.loginUrl }}">Login</a></span>
                    <br/><span><a href="{{ collector.shibboleth.overviewUrl }}">Overview</a></span>
                {% else %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.shibboleth.handlerPath }} not reachable</span>
                {% endif %}
            </div>
        {% else %}
            <div class="sf-toolbar-info-piece">
                <b>Logged in as</b>
                <span>
                    {{ collector.user }}
                    {% if collector.displayName is not empty and collector.displayName != collector.user %}
                        ({{ collector.displayName }})
                    {% endif %}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Authenticated</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.authenticated ? 'green' : 'red' }}">{{ collector.authenticated ? 'Yes' : 'No' }}</span>
            </div>

            {% if collector.affiliation is not empty %}
                <div class="sf-toolbar-info-piece">
                    <b>Affiliation</b>
                    <span>{{ collector.affiliation|join(', ') }}</span>
                </div>
            {% endif %}

            {% if collector.tokenClass is not empty %}
                <div class="sf-toolbar-info-piece">
                    <b>Token class</b>
                    <span>{{ collector.tokenClass|abbr_class }}</span>
                </div>
            {% endif %}

            {% if collector.impersonatedUser is not empty %}
                <hr/>
                <div class="sf-toolbar-info-piece">
                    <b>Impersonating</b>
                    <span>
                        {{ collector.impersonatedUser }}
                        {% if collector.impersonatedDisplayName is not empty and collector.impersonatedDisplayName != collector.impersonatedUser %}
                            ({{ collector.impersonatedDisplayName }})
                        {% endif %}
                    </span>
                </div>

                {% if collector.impersonatedAffiliation is not empty %}
                    <div class="sf-toolbar-info-piece">
                        <b>Impersonated affiliation</b>
                        <span>{{ collector.impersonatedAffiliation|join(', ') }}</span>
                    </div>
                {% endif %}

                {% if collector.impersonatedTokenClass is not empty %}
                    <div class="sf-toolbar-info-piece">
                        <b>Impersonated token class</b>
                        <span>{{ collector.impersonatedTokenClass|abbr_class }}</span>
                    </div>
                {% endif %}
                <hr/>
            {% endif %}

            <div class="sf-toolbar-info-piece">
                <b>Actions</b>
                {% if collector.shibboleth.reachable %}
                    <span><a href="{{ collector.shibboleth.statusUrl }}">Status</a></span>
                    <br/><span><a href="{{ collector.shibboleth.logoutUrl }}">Logout</a></span>
                    <br/><span><a href="{{ collector.shibboleth.overviewUrl }}">Overview</a></span>
                {% else %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.shibboleth.handlerPath }} not reachable</span>
                {% endif %}
            </div>
        {% endif %}
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: color_code }) }}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.enabled ? 'disabled' }}">
        <span class="icon"><img src="data:image/png;base64,{{ collector.image }}" alt="Shibboleth" style="width: 26px; filter: grayscale(100%); -webkit-filter: grayscale(100%);"/></span>
        <strong>Shibboleth</strong>
    </span>
{% endblock %}

{% block panel %}
    {% if collector.shibboleth.attributes is not empty %}
        <h2>Shibboleth</h2>
        {% include 'KuleuvenAuthenticationBundle:embeds:attributes_table.html.twig' with {shibboleth: collector.shibboleth} only %}
    {% endif %}
    {% if collector.shibboleth is not empty %}
        <h2>Service Provider Settings</h2>
        {% include 'KuleuvenAuthenticationBundle:embeds:shibboleth_table.html.twig' with {shibboleth: collector.shibboleth} only %}
    {% endif %}
{% endblock %}
